# Definindo as funções que vamos usar

In [1]:
def get_params_acc (mat):
    
    items_1 = mat.split('_')
    items_2 = items_1[len(items_1) - 1].split('.')
    items_2 = items_2[len(items_2) - 2]
    items_1 = items_1[:len(items_1) - 1]
    items = items_1 + [items_2]
    items = [int(y) for y in items]
    
    file = items[0]
    date = datetime.strptime(str(items[1]), '%Y%m%d')
    root_index = items[2]
    daily_passing = items[3]
    region = items[4]
    direction = items[5]
    sensor_num = items[6]
    
    return date, daily_passing, region, direction, sensor_num

def get_params_gps (mat):
    
    items_1 = mat.split('_')
    items_2 = items_1[len(items_1) - 1].split('.')
    items_2 = items_2[0][:1]
    items_1 = items_1[:len(items_1) - 1]
    items = items_1 + [items_2[0]]
    items = [int(y) for y in items]
    
    file = items[0]
    date = datetime.strptime(str(items[1]), '%Y%m%d')
    root_index = items[2]
    daily_passing = items[3]
    region = items[4]
    direction = items[5]
    
    return date, daily_passing, region, direction



def load_Data_Frame_acc (num_train, region_given, DateStart, DateEnd):
    
    df_date = pd.DataFrame()
    df_daily = pd.DataFrame()
    df_region = pd.DataFrame()
    df_direction = pd.DataFrame()
    df_trix = pd.DataFrame()
    df_triy = pd.DataFrame()
    df_triz = pd.DataFrame()
    df_front = pd.DataFrame()
    df_back = pd.DataFrame()
    df_1 = pd.DataFrame()
    df_2 = pd.DataFrame()
    df_acc = pd.DataFrame()
    
    
    if num_train == 4306:
        for mat in os.listdir(dataDir[0]):
            result = get_params_acc(mat)
            
            date = result[0]
            daily_passing = result[1]
            region = result[2]
            direction = result[3]
            sensor_num = result[4]
            
            if region == region_given and date >= DateStart and date <= DateEnd:
                
                try:
                    acc_1 = scipy.io.loadmat(dataDir[0]+mat)
                    
                    df_date = pd.DataFrame(data = [date], columns = ['Date'])
                    df_daily = pd.DataFrame(data = [daily_passing], columns = ['Daily_passing'])
                    df_region = pd.DataFrame(data = [region], columns = ['Region'])
                    df_direction = pd.DataFrame(data = [direction], columns = ['Direction'])
                    
                    if sensor_num == 1:
                        df_trix = pd.DataFrame(data = acc_1['save_var'], columns = ['Triaxial_x'])
                        
                    elif sensor_num == 2:
                        df_triy = pd.DataFrame(data = acc_1['save_var'], columns = ['Triaxial_y'])
                        
                    elif sensor_num == 3:
                        df_triz = pd.DataFrame(data = acc_1['save_var'], columns = ['Triaxial_z'])
                    
                    elif sensor_num == 4:
                        df_front = pd.DataFrame(data = acc_1['save_var'], columns = ['Front_cab_uni'])
                        
                    elif sensor_num == 5:
                        df_back = pd.DataFrame(data = acc_1['save_var'], columns = ['Back_cab_uni'])
                        
                        
                    df_1 = pd.concat([df_date, df_daily, df_region, df_direction, 
                                      df_trix, df_triy, df_triz, df_front, df_back], axis = 1)
        
                except:
                    acc_1 = h5py.File(dataDir[0]+mat, 'r').get('save_var')

                    df_date = pd.DataFrame(data = [date], columns = ['Date'])
                    df_daily = pd.DataFrame(data = [daily_passing], columns = ['Daily_passing'])
                    df_region = pd.DataFrame(data = [region], columns = ['Region'])
                    df_direction = pd.DataFrame(data = [direction], columns = ['Direction'])
                    
                    if sensor_num == 1:
                        df_trix = pd.DataFrame(data = np.array(acc_1).reshape(-1,1), columns = ['Triaxial_x'])
                        
                    elif sensor_num == 2:
                        df_triy = pd.DataFrame(data = np.array(acc_1).reshape(-1,1), columns = ['Triaxial_y'])
                        
                    elif sensor_num == 3:
                        df_triz = pd.DataFrame(data = np.array(acc_1).reshape(-1,1), columns = ['Triaxial_z'])
                    
                    elif sensor_num == 4:
                        df_front = pd.DataFrame(data = np.array(acc_1).reshape(-1,1), columns = ['Front_cab_uni'])
                        
                    elif sensor_num == 5:
                        df_back = pd.DataFrame(data = np.array(acc_1).reshape(-1,1), columns = ['Back_cab_uni'])
                        
                    df_2 = pd.concat([df_date, df_daily, df_region, df_direction, 
                                      df_trix, df_triy, df_triz, df_front, df_back], axis = 1)
        

                df_acc = pd.concat([df_1, df_2], axis = 0, ignore_index = True)
            
                df_acc = df_acc.fillna(method = 'ffill')
                
                li_acc.append(df_acc)
                
        
        df_acc = pd.concat(li_acc, axis = 0, ignore_index = True)
        
        return df_acc

    elif num_train == 4313:
        for mat in os.listdir(dataDir[2]):
            result = get_params_acc(mat)
            
            date = result[0]
            daily_passing = result[1]
            region = result[2]
            direction = result[3]
            sensor_num = result[4]
            
            if region == region_given and date >= DateStart and date <= DateEnd:
                
                try:
                    acc_1 = scipy.io.loadmat(dataDir[2]+mat)
                    
                    df_date = pd.DataFrame(data = [date], columns = ['Date'])
                    df_daily = pd.DataFrame(data = [daily_passing], columns = ['Daily_passing'])
                    df_region = pd.DataFrame(data = [region], columns = ['Region'])
                    df_direction = pd.DataFrame(data = [direction], columns = ['Direction'])
                    
                    if sensor_num == 1:
                        df_trix = pd.DataFrame(data = acc_1['save_var'], columns = ['Triaxial_x'])
                        
                    elif sensor_num == 2:
                        df_triy = pd.DataFrame(data = acc_1['save_var'], columns = ['Triaxial_y'])
                        
                    elif sensor_num == 3:
                        df_triz = pd.DataFrame(data = acc_1['save_var'], columns = ['Triaxial_z'])
                    
                    elif sensor_num == 4:
                        df_front = pd.DataFrame(data = acc_1['save_var'], columns = ['Front_cab_uni'])
                        
                    elif sensor_num == 5:
                        df_back = pd.DataFrame(data = acc_1['save_var'], columns = ['Back_cab_uni'])
                        
                        
                    df_1 = pd.concat([df_date, df_daily, df_region, df_direction, 
                                      df_trix, df_triy, df_triz, df_front, df_back], axis = 1)
        
                except:
                    acc_1 = h5py.File(dataDir[0]+mat, 'r').get('save_var')

                    df_date = pd.DataFrame(data = [date], columns = ['Date'])
                    df_daily = pd.DataFrame(data = [daily_passing], columns = ['Daily_passing'])
                    df_region = pd.DataFrame(data = [region], columns = ['Region'])
                    df_direction = pd.DataFrame(data = [direction], columns = ['Direction'])
                    
                    if sensor_num == 1:
                        df_trix = pd.DataFrame(data = np.array(acc_1).reshape(-1,1), columns = ['Triaxial_x'])
                        
                    elif sensor_num == 2:
                        df_triy = pd.DataFrame(data = np.array(acc_1).reshape(-1,1), columns = ['Triaxial_y'])
                        
                    elif sensor_num == 3:
                        df_triz = pd.DataFrame(data = np.array(acc_1).reshape(-1,1), columns = ['Triaxial_z'])
                    
                    elif sensor_num == 4:
                        df_front = pd.DataFrame(data = np.array(acc_1).reshape(-1,1), columns = ['Front_cab_uni'])
                        
                    elif sensor_num == 5:
                        df_back = pd.DataFrame(data = np.array(acc_1).reshape(-1,1), columns = ['Back_cab_uni'])
                        
                    df_2 = pd.concat([df_date, df_daily, df_region, df_direction, 
                                      df_trix, df_triy, df_triz, df_front, df_back], axis = 1)
        

                df_acc = pd.concat([df_1, df_2], axis = 0, ignore_index = True)
            
                df_acc = df_acc.fillna(method = 'ffill')
                
                li_acc.append(df_acc)
                
        
        df_acc = pd.concat(li_acc, axis = 0, ignore_index = True)
        
        return df_acc    
    
    
def load_Data_Frame_gps (num_train, region_given, DateStart, DateEnd):

    df_date = pd.DataFrame()
    df_daily = pd.DataFrame()
    df_region = pd.DataFrame()
    df_direction = pd.DataFrame()
    df_aux = pd.DataFrame()
    df_gps = pd.DataFrame()
    
    
    if num_train == 4306:
        for mat in os.listdir(dataDir[1]):
            result = get_params_gps(mat)
            
            date = result[0]
            daily_passing = result[1]
            region = result[2]
            direction = result[3]
            
            if region == region_given and date >= DateStart and date <= DateEnd:
            
                gps_1 = scipy.io.loadmat(dataDir[1]+mat)
                
                df_date = pd.DataFrame(data = [date], columns = ['Date'])
                df_daily = pd.DataFrame(data = [daily_passing], columns = ['Daily_passing'])
                df_region = pd.DataFrame(data = [region], columns = ['Region'])
                df_direction = pd.DataFrame(data = [direction], columns = ['Direction'])
                
                df_aux = pd.DataFrame(data = gps_1['save_var_gps'], columns = ['Longitude', 'Latitude', 'Altitude', 'Velocidade', 'TimeStamp'])
    
                df_gps = pd.concat([df_date, df_daily, df_region, df_direction, df_aux], axis = 1)
        
                df_gps = df_gps.fillna(method = 'ffill')
            
                li_gps.append(df_gps)
                
        
        df_gps = pd.concat(li_gps, axis = 0, ignore_index = True)
        
        return df_gps
    
    
    elif num_train == 4313:
        for mat in os.listdir(dataDir[3]):
            result = get_params_gps(mat)
            
            date = result[0]
            daily_passing = result[1]
            region = result[2]
            direction = result[3]
            
            if region == region_given and date >= DateStart and date <= DateEnd:
            
                gps_1 = scipy.io.loadmat(dataDir[3]+mat)
                
                df_date = pd.DataFrame(data = [date], columns = ['Date'])
                df_daily = pd.DataFrame(data = [daily_passing], columns = ['Daily_passing'])
                df_region = pd.DataFrame(data = [region], columns = ['Region'])
                df_direction = pd.DataFrame(data = [direction], columns = ['Direction'])
                
                df_aux = pd.DataFrame(data = gps_1['save_var_gps'], columns = ['Longitude', 'Latitude', 'Altitude', 'Velocidade', 'TimeStamp'])
    
                df_gps = pd.concat([df_date, df_daily, df_region, df_direction, df_aux], axis = 1)
        
                df_gps = df_gps.fillna(method = 'ffill')
            
                li_gps.append(df_gps)
                
        
        df_gps = pd.concat(li_gps, axis = 0, ignore_index = True)
        
        return df_gps

In [2]:
import h5py
import scipy.io
import os
import pandas as pd
import numpy as np
from datetime import datetime

## Dfinindo path

In [3]:
dataDir = ['D:/DR_train/DR_Train/LRV4306/accelerometer_data/', 'D:/DR_train/DR_Train/LRV4306/gps_data/',
           'D:/DR_train/DR_Train/LRV4313/accelerometer_data/', 'D:/DR_train/DR_Train/LRV4313/gps_data/']

li_acc = []
li_gps =[]

## Definindo data de começo e fim, número do vagão e região que vamos analisar

In [4]:
num_train = 4306

DateStart = datetime.strptime('20131121', '%Y%m%d')
DateEnd = datetime.strptime('20140501', '%Y%m%d')
region_given = 1
#direction_given = 2
#sensor_num_given = 5

## Carregando os DataFrames

In [5]:
df_gps = load_Data_Frame_gps(num_train, region_given, DateStart, DateEnd)
df_gps

,Date,Daily_passing,Region,Direction,Longitude,Latitude,Altitude,Velocidade,TimeStamp
0,2014-01-10,4.0,1.0,1.0,-80.011312,40.449730,230.5,26.0,735601.915035
1,2014-01-10,4.0,1.0,1.0,-80.011788,40.449383,230.8,28.3,735601.915046
2,2014-01-10,4.0,1.0,1.0,-80.012015,40.449283,231.5,26.8,735601.915058
3,2014-01-10,4.0,1.0,1.0,-80.012440,40.448985,232.3,27.1,735601.915069
4,2014-01-10,4.0,1.0,1.0,-80.012782,40.448768,232.4,27.0,735601.915081
...,...,...,...,...,...,...,...,...,...
44490,2014-01-10,3.0,1.0,1.0,-80.011000,40.448100,217.9,29.9,735601.838635
44491,2014-01-10,3.0,1.0,1.0,-80.010902,40.448100,217.9,29.9,735601.838646
44492,2014-01-10,3.0,1.0,1.0,-80.010803,40.448098,218.0,29.9,735601.838658
44493,2014-01-10,3.0,1.0,1.0,-80.010705,40.448098,218.0,29.9,735601.838670
44494,2014-01-10,3.0,1.0,1.0,-80.010607,40.448098,218.0,29.9,735601.838681

In [6]:
df_gps.groupby('Date').count()

,Daily_passing,Region,Direction,Longitude,Latitude,Altitude,Velocidade,TimeStamp
Date,,,,,,,,
2013-11-21,1203,1203,1203,1203,1203,1203,1203,1203
2013-12-27,2518,2518,2518,2518,2518,2518,2518,2518
2014-01-10,7726,7726,7726,7726,7726,7726,7726,7726
2014-01-24,1504,1504,1504,1504,1504,1504,1504,1504
2014-02-21,983,983,983,983,983,983,983,983
2014-03-14,226,226,226,226,226,226,226,226
2014-04-04,2229,2229,2229,2229,2229,2229,2229,2229
2014-04-11,6812,6812,6812,6812,6812,6812,6812,6812
2014-04-18,4728,4728,4728,4728,4728,4728,4728,4728
2014-04-25,16566,16566,16566,16566,16566,16566,16566,16566

In [7]:
df_acc = load_Data_Frame_acc(num_train, region_given, DateStart, DateEnd)
df_acc

,Date,Daily_passing,Region,Direction,Triaxial_x,Triaxial_y,Triaxial_z,Front_cab_uni,Back_cab_uni
0,2014-01-10,4.0,1.0,1.0,0.005640,NaN,NaN,NaN,NaN
1,2014-01-10,4.0,1.0,1.0,-0.005739,NaN,NaN,NaN,NaN
2,2014-01-10,4.0,1.0,1.0,-0.004076,NaN,NaN,NaN,NaN
3,2014-01-10,4.0,1.0,1.0,0.001134,NaN,NaN,NaN,NaN
4,2014-01-10,4.0,1.0,1.0,-0.001605,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
215101715,2014-01-10,3.0,1.0,1.0,-0.001593,-0.001370,-0.001013,-0.046250,-0.095024
215101716,2014-01-10,3.0,1.0,1.0,0.003157,0.003723,0.003047,-0.005620,-0.048076
215101717,2014-01-10,3.0,1.0,1.0,0.002613,0.002814,0.003248,-0.008592,-0.020382
215101718,2014-01-10,3.0,1.0,1.0,0.002149,0.002442,0.002889,0.013273,0.009845
215101719,2014-01-10,3.0,1.0,1.0,0.001941,0.002022,0.002096,0.056014,0.032169

In [8]:
df_acc.groupby('Date').count()

,Daily_passing,Region,Direction,Triaxial_x,Triaxial_y,Triaxial_z,Front_cab_uni,Back_cab_uni
Date,,,,,,,,
2013-11-21,13481321,13481321,13481321,13481321,13481321,13481321,13481321,13481321
2013-12-27,22720728,22720728,22720728,22720728,22720728,22720728,22720728,22720728
2014-01-10,71195195,71195195,71195195,71195195,69979397,68763599,67547801,66332003
2014-01-24,12533968,12533968,12533968,12533968,12533968,12533968,12533968,12533968
2014-02-21,12694880,12694880,12694880,12694880,12694880,12694880,12694880,12694880
2014-03-14,4661911,4661911,4661911,4661911,4661911,4661911,4661911,4661911
2014-04-04,19331233,19331233,19331233,19331233,19331233,19331233,19331233,19331233
2014-04-11,55557442,55557442,55557442,55557442,55557442,55557442,55557442,55557442
2014-04-25,2925042,2925042,2925042,2925042,2925042,2925042,2925042,2925042

In [9]:
df_acc.isna().sum()

Date                   0
Daily_passing          0
Region                 0
Direction              0
Triaxial_x             0
Triaxial_y       1215798
Triaxial_z       2431596
Front_cab_uni    3647394
Back_cab_uni     4863192
dtype: int64